In [1]:
# Bibliotheken importieren
import pandas as pd

In [2]:
# Datensatz einlesen
df = pd.read_csv('munich_sales.csv', sep=';', header=None, 
                 names=['transaction_id', 'invoice_number', 'transaction_date', 'transaction_time',
                        'transaction_status', 'store_id', 'store_name', 'store_location', 'store_type', 
                        'store_size_sqm', 'district_id', 'district_name', 'postal_code', 'customer_id',	
                        'customer_name', 'customer_email', 'customer_loyalty_status', 'product_id',	'product_name',
                        'product_category', 'product_subcategory', 'product_brand', 'product_department',
                        'supplier_id', 'supplier_name', 'quantity', 'unit_price', 'base_price', 'discount_rate',
                        'discount_applied', 'total_amount', 'tax_rate', 'tax_amount', 'payment_method',
                        'sales_staff_id', 'sales_staff_name', 'promotion_id', 'promotion_name'])

/var/folders/h2/_zc6rgws7kb3mkn0_qxtcn240000gn/T/ipykernel_3141/1648501153.py:2: DtypeWarning: Columns (5,9,10,12,13,17,23,25,31,34,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/mertali/Desktop/Coding Challenge/munich_sales.csv', sep=';', header=None,

In [3]:
print('Rows:', df.shape[0])
print('Columns:', df.shape[1])

Rows: 35613
Columns: 38

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35613 entries, 0 to 35612
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           35613 non-null  object
 1   invoice_number           35613 non-null  object
 2   transaction_date         35613 non-null  object
 3   transaction_time         35613 non-null  object
 4   transaction_status       35613 non-null  object
 5   store_id                 35613 non-null  object
 6   store_name               35613 non-null  object
 7   store_location           35613 non-null  object
 8   store_type               35613 non-null  object
 9   store_size_sqm           35613 non-null  object
 10  district_id              35613 non-null  object
 11  district_name            35613 non-null  object
 12  postal_code              35613 non-null  object
 13  customer_id              27233 non-null  object
 14  customer_name            28606 non-null  object
 15  customer_email           27172 non-null  object
 16  customer_loyalty_status  26012 non-null  object
 17  product_id               35613 non-null  object
 18  product_name             35613 non-null  object
 19  product_category         35613 non-null  object
 20  product_subcategory      35613 non-null  object
 21  product_brand            35613 non-null  object
 22  product_department       32220 non-null  object
 23  supplier_id              35613 non-null  object
 24  supplier_name            35613 non-null  object
 25  quantity                 35492 non-null  object
 26  unit_price               35492 non-null  object
 27  base_price               35613 non-null  object
 28  discount_rate            35613 non-null  object
 29  discount_applied         33857 non-null  object
 30  total_amount             35511 non-null  object
 31  tax_rate                 35613 non-null  object
 32  tax_amount               35613 non-null  object
 33  payment_method           35613 non-null  object
 34  sales_staff_id           35613 non-null  object
 35  sales_staff_name         35613 non-null  object
 36  promotion_id             8872 non-null   object
 37  promotion_name           8872 non-null   object
dtypes: object(38)
memory usage: 10.3+ MB

#### Columns with missing values

In [7]:
df.isnull().sum()

transaction_id                 0
invoice_number                 0
transaction_date               0
transaction_time               0
transaction_status             0
store_id                       0
store_name                     0
store_location                 0
store_type                     0
store_size_sqm                 0
district_id                    0
district_name                  0
postal_code                    0
customer_id                 8380
customer_name               7007
customer_email              8441
customer_loyalty_status     9601
product_id                     0
product_name                   0
product_category               0
product_subcategory            0
product_brand                  0
product_department          3393
supplier_id                    0
supplier_name                  0
quantity                     121
unit_price                   121
base_price                     0
discount_rate                  0
discount_applied            1756
total_amount                 102
tax_rate                       0
tax_amount                     0
payment_method                 0
sales_staff_id                 0
sales_staff_name               0
promotion_id               26741
promotion_name             26741
dtype: int64

In [85]:
df_cleaned = pd.read_csv('munich_sales_cleaned.csv', sep=';', header=None, 
                 names=['transaction_id', 'invoice_number', 'transaction_date', 'transaction_time',
                        'transaction_status', 'store_id', 'store_name', 'store_location', 'store_type', 
                        'store_size_sqm', 'district_id', 'district_name', 'postal_code', 'customer_id',	
                        'customer_name', 'customer_email', 'customer_loyalty_status', 'product_id',	'product_name',
                        'product_category', 'product_subcategory', 'product_brand', 'product_department',
                        'supplier_id', 'supplier_name', 'quantity', 'unit_price', 'base_price', 'discount_rate',
                        'discount_applied', 'total_amount', 'tax_rate', 'tax_amount', 'payment_method',
                        'sales_staff_id', 'sales_staff_name', 'promotion_id', 'promotion_name'])

/var/folders/h2/_zc6rgws7kb3mkn0_qxtcn240000gn/T/ipykernel_3141/161102389.py:1: DtypeWarning: Columns (5,9,10,12,13,17,23,25,26,27,28,29,31,34,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_cleaned = pd.read_csv('/Users/mertali/Desktop/Coding Challenge/munich_sales_cleaned.csv', sep=';', header=None,

In [87]:
df_cleaned.isnull().sum()

transaction_id                 0
invoice_number                 0
transaction_date               0
transaction_time               0
transaction_status             0
store_id                       0
store_name                     0
store_location                 0
store_type                     0
store_size_sqm                 0
district_id                    0
district_name                  0
postal_code                    0
customer_id                 7007
customer_name               7007
customer_email              7007
customer_loyalty_status     9601
product_id                     0
product_name                   0
product_category               0
product_subcategory            0
product_brand                  0
product_department          3393
supplier_id                    0
supplier_name                  0
quantity                     121
unit_price                  1087
base_price                   716
discount_rate                  3
discount_applied               0
total_amount                 102
tax_rate                       0
tax_amount                     0
payment_method                 0
sales_staff_id                 0
sales_staff_name               0
promotion_id               26741
promotion_name             26741
dtype: int64